# üìò K·ªπ Thu·∫≠t Imputation Tr√™n B·ªô D·ªØ Li·ªáu Titanic
Notebook n√†y tr√¨nh b√†y to√†n b·ªô c√°c b∆∞·ªõc x·ª≠ l√Ω gi√° tr·ªã thi·∫øu (missing values) b·∫±ng ti·∫øng Vi·ªát.

## üì¶ 1. Import th∆∞ vi·ªán c·∫ßn thi·∫øt

In [2]:
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer, KNNImputer
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
import matplotlib.pyplot as plt
import seaborn as sns
sns.set(style='whitegrid')

## üö¢ 2. T·∫£i b·ªô d·ªØ li·ªáu Titanic

In [3]:
url = 'https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv'
df = pd.read_csv(url)
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

## üîç 3. Ki·ªÉm tra gi√° tr·ªã thi·∫øu

In [ ]:
df.isna().sum()

### üìä Bi·ªÉu ƒë·ªì gi√° tr·ªã thi·∫øu theo c·ªôt

In [ ]:
plt.figure(figsize=(10,5))
sns.barplot(x=df.isna().sum().index, y=df.isna().sum().values)
plt.xticks(rotation=45)
plt.title('S·ªë l∆∞·ª£ng gi√° tr·ªã thi·∫øu tr√™n t·ª´ng c·ªôt')
plt.show()

## üß© 4. Imputation ƒë∆°n bi·∫øn (Univariate)

In [ ]:
mean_imp = SimpleImputer(strategy='mean')
df['Age_mean'] = mean_imp.fit_transform(df[['Age']])

median_imp = SimpleImputer(strategy='median')
df['Fare_median'] = median_imp.fit_transform(df[['Fare']])

mode_imp = SimpleImputer(strategy='most_frequent')
df['Embarked_mode'] = mode_imp.fit_transform(df[['Embarked']]).ravel()

const_imp = SimpleImputer(strategy='constant', fill_value='Unknown')
df['Cabin_constant'] = const_imp.fit_transform(df[['Cabin']]).ravel()

df.head()

### üìà So s√°nh ph√¢n ph·ªëi Age tr∆∞·ªõc v√† sau Mean Imputation

In [ ]:
plt.figure(figsize=(10,5))
sns.kdeplot(df['Age'], label='Age g·ªëc', fill=True)
sns.kdeplot(df['Age_mean'], label='Age sau Mean Imputation', fill=True)
plt.legend()
plt.title('So s√°nh ph√¢n ph·ªëi Age tr∆∞·ªõc v√† sau Imputation')
plt.show()

In [ ]:
# Encode Sex
df['Sex_encoded'] = df['Sex'].map({'male': 0, 'female': 1})

# One-hot encode Embarked
embarked_ohe = pd.get_dummies(df['Embarked'], prefix='Embarked', dummy_na=True)

# G·ªôp v√†o dataframe
df = pd.concat([df, embarked_ohe], axis=1)

df.head()

## ü§ñ 5. Imputation ƒëa bi·∫øn ‚Äî KNN (phi√™n b·∫£n chu·∫©n d√πng nhi·ªÅu bi·∫øn)

In [ ]:

# Danh s√°ch c·ªôt d√πng cho multivariate
selected_cols = ['Age','Fare','Pclass','Sex_encoded','SibSp','Parch'] + list(embarked_ohe.columns)

df_selected = df[selected_cols]

# √Åp d·ª•ng KNN n√¢ng cao
knn_full = KNNImputer(n_neighbors=5)
df_knn_full = knn_full.fit_transform(df_selected)

df_knn_df = pd.DataFrame(df_knn_full, columns=[col + "_knn" for col in df_selected.columns])
df_knn_df.head()

## üîÅ 6. Imputation ƒëa bi·∫øn ‚Äî MICE (phi√™n b·∫£n chu·∫©n d√πng nhi·ªÅu bi·∫øn)

In [ ]:
mice = IterativeImputer(max_iter=20, random_state=0)
df_mice_full = mice.fit_transform(df_selected)

df_mice_df = pd.DataFrame(df_mice_full, columns=[c + "_mice" for c in df_selected.columns])
df_mice_df.head()

## üß∑ 7. G·ªôp to√†n b·ªô k·∫øt qu·∫£

In [ ]:
final_df = pd.concat([df, df_knn_df, df_mice_df], axis=1)
final_df.head()

## ‚úÖ 8. K·∫øt lu·∫≠n
- Mean/Median/Mode ph√π h·ª£p c√°c tr∆∞·ªùng h·ª£p ƒë∆°n gi·∫£n.
- KNN gi√∫p t·∫≠n d·ª•ng c·∫•u tr√∫c d·ªØ li·ªáu.
- MICE t√°i t·∫°o ph√¢n ph·ªëi d·ªØ li·ªáu t·ªët nh·∫•t nh∆∞ng ch·∫≠m h∆°n.
- Titanic Dataset r·∫•t ph√π h·ª£p minh ho·∫° c√°c k·ªπ thu·∫≠t imputation.

## üìä 9. So s√°nh tr·ª±c quan c√°c ph∆∞∆°ng ph√°p Imputation

### üîç So s√°nh ph√¢n ph·ªëi Age: Mean vs KNN vs MICE

In [ ]:
plt.figure(figsize=(10,6))
sns.kdeplot(df["Age"], label="Age g·ªëc", fill=True)
sns.kdeplot(df["Age_mean"], label="Mean Imputation", fill=True)
sns.kdeplot(df_knn_df["Age_knn"], label="KNN Imputation", fill=True)
sns.kdeplot(df_mice_df["Age_mice"], label="MICE Imputation", fill=True)
plt.title("So s√°nh ph√¢n ph·ªëi Age c·ªßa c√°c ph∆∞∆°ng ph√°p Imputation")
plt.legend()
plt.show()